.head {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
}
.head a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 18px;
  border-radius: 4px;
}
.head a.logo {
  font-size: 30px;
  font-weight: bold;
}
.head a:hover {
  background-color: #ddd;
  color: black;
}
.head a.active {
  background-color: dodgerblue;
  color: white;
}
.head-right {
  float: right;
}
@media screen and (max-width: 500px) {
.head a {
    float: none;
    display: block;
    text-align: left;
  }
  .head-right {
    float: none;
  }
}