* { margin: 0px; padding: 0px; }
body {
	font-size: 120%;
	background: #F8F8FF;
}
.header {
	width: 40%;
	margin: 50px auto 0px;
	color: white;
	background: #008CBA;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.slideContent{width:calc(100% - 220px);float: right;position: relative;padding: 0 15px}
.btnValidationContent{float: right;width: auto;display: block;position: relative;}
.btnValidationContent ul li{margin: 0 0 15px 15px; padding: 0; float: left; list-style: none;}
.btnValidationContent ul li:first-child{margin-left: 0}
.btnValidationContent ul li a{color: #FFF; background: #008CBA; padding: 10px 15px; display: block;text-decoration: none;border-radius: 5px; }
.btnDelete { background:#F00;border: none; padding: 10px 15px; border-radius: 5px; color: #FFF; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline-block; }
.pagination{margin: 0 !important;}
.userDetailsTable>thead>tr>th,
.userDetailsTable>tbody>tr>td:first-child{text-align: center;}
.userDetailsTable>thead>tr>th { font-size: 13px; background: #222; color: #FFF; font-weight: 600; }
.userDetailsTable>tbody>tr{font-size: 14px;}
.userDetailsTable>tbody>tr:nth-child(odd){background: #ededed;}
.userDetailsTable>tbody>tr:hover,
.userDetailsTable>tbody>tr:hover>td>a{background:  #555;color: #FFF !important}
form, .content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}

.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #008CBA;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: left;
}
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
